@font-face{
    font-family: "AtkinHyper";
    src: url("fonts/Atkinson-Hyperlegible-Regular-102a.woff2") format("woff2");
}
@font-face {
    font-family: AtkinHyperBold;
    src: url("fonts/Atkinson-Hyperlegible-Bold-102a.woff2") format("woff2");
}
body {
    background-color: #1f1f1f;
}

.title {
    height: 64px;
    line-height: 64px;
    margin-bottom: 8px;
    box-shadow: 0 5px 5px rgba(30, 25, 32, 0.77);
    border-radius: 20px;
    background-color: #362b39;
}

#titleword {
    margin: 0;
    text-align: center;
    vertical-align: center;
    font-family: AtkinHyperBold, Tahoma, sans-serif;
    color: #BC00E0;
    <!--c97be0 -->
}

h2 { 
    font-family: AtkinHyper, Tahoma, sans-serif;
    color: #f0f0f0;
}

.about{
    display:flex;
    flex-wrap:wrap;
    margin-right: 25px;
    margin-left: 25px;
    justify-content: center;
    column-gap: 50px;
}

.about img{
    width: 128px;
    border-radius: 25%;
    border: 2px solid #362b39;
}

.about p{
    font-family: AtkinHyper, Tahoma, sans-serif;
    color: #f0f0f0;
    width: 75%;
}

.skills{
    margin-left: 10px;

    font-family: AtkinHyper, Tahoma, sans-serif;
    color: #f0f0f0;
    text-align: left;
}


.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
}

.project {
    width: 30%;
    margin: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #4a1c53;
    border-radius: 20px;

    font-family: AtkinHyper, Tahoma, sans-serif;
    color: #f0f0f0;
    text-align: center;
}
.project img{
    max-width: 90%;
    height: auto;
    flex: 1 1 auto;
    object-fit: contain;
}

.project p{
    padding-left: 15px;
    padding-right: 15px;
}

.project a:link {
    color: #e78bfd;
}

.project a:visited{
    color: #9672bc;
}

.project a:hover{
    color: #E0009E;
}

.contact {
}